# 📚 Analysis of Public Library Data

 

### 원천 데이터 : 문화 빅데이터 플랫폼

- 공공 도서관 대출정보 (2023.01 ~ 2023.02)
- 도서관 정보 (2023.05)
- 공공 도서관 소장도서 (2023.05)


### 기술 스택

<img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=Python&logoColor=white"> 
<img src="https://img.shields.io/badge/Apache%20Airflow-017CEE?style=for-the-badge&logo=Apache%20Airflow&logoColor=white"> 
<img src="https://img.shields.io/badge/Apache%20Spark-E25A1C?style=for-the-badge&logo=Apache%20Spark&logoColor=white"> 
<img src="https://img.shields.io/badge/Apache%20Zeppelin-D22128?style=for-the-badge&logo=Apache&logoColor=white">

### 데이터 파이프라인

##### ✔ spark-step-1 : 필요 column만 추출한 base table 생성
    - loan_base : 월별 데이터를 통합한 2023년 1월~5월 대여 정보 테이블 생성
    - lbrry_base : 도서관 정보 (도서관명, 도서관 코드, 주소 등)
    - book_base : 도서 정보 (일렼번호, 제목명, 저자명, ISBN 등)
    
##### ✔ spark-step-2 : 도서관-대여-도서 테이블 병합 후 partition table 생성
    - partition : LBRRY_CD (도서관 코드)

In [3]:
print("%html <h3>Data Pipeline Graph</h3>")
print("<img src='https://user-images.githubusercontent.com/95599133/249003358-34bae4c3-e632-4820-bdd9-1be3a9f312ec.png' />")

In [4]:
%spark.pyspark

lbrry_base = spark.read.parquet("file:///home/sub/cong/Library-Data-Analysis/data/base/lbrry_base")
lbrry_base.createOrReplaceTempView('tb_lbrry')

lbrry = spark.sql("""SELECT LBRRY_CD, LBRRY_NM, ONE_AREA_NM, TWO_AREA_NM, LBRRY_ADDR FROM tb_lbrry""")

one_area = spark.sql("SELECT DISTINCT ONE_AREA_NM FROM tb_lbrry ORDER BY ONE_AREA_NM")
one_area_nm = [value[0] for value in one_area.select('ONE_AREA_NM').collect()]

area_dict=[]
for one in one_area_nm:
    two_area = spark.sql(f"SELECT DISTINCT TWO_AREA_NM, TWO_AREA_NM FROM tb_lbrry WHERE ONE_AREA_NM = '{one}' ORDER BY TWO_AREA_NM")
    area_dict.append(([value[0][0] for value in two_area.select('TWO_AREA_NM').collect()],one))

print('Load lbrry_info_tb')

df_partition= spark.read.parquet("file:///home/sub/cong/Library-Data-Analysis/data/partition/")
df_partition.createOrReplaceTempView("tb_partition")

loan = spark.sql("""SELECT CTRL_NO, TITLE_NM, ISBN_THIRTEEN_NO, LBRRY_CD, LBRRY_NM, BOOK_KEY_NO, MBER_SEQ_NO_VALUE, LON_YEAR, LON_MONTH, LON_DAY
                        FROM tb_partition""")
                        
# df_loan.cached()
loan.createOrReplaceTempView("tb_loan")

stats_loan = spark.sql("""SELECT LBRRY_NM, LON_MONTH, LON_DAY, count(*) as CNT
                        FROM tb_loan
                        WHERE LON_YEAR = '2023'
                        GROUP BY ROLLUP(LBRRY_NM,LON_MONTH, LON_DAY)
                        ORDER BY LBRRY_NM, LON_MONTH, LON_DAY
                        """)

from pyspark.sql.functions import countDistinct

count=stats_loan.select(countDistinct("LBRRY_NM")).collect()[0][0]
                        
stats_loan.cache()
stats_loan.createOrReplaceTempView('tb_stats_loan')

print(f'Load stats_loan_tb - 도서관 {count} 장소 load')

## 🏢 전국 도서관 정보 조회

In [6]:
%spark.pyspark

sub_area = z.select('조회할 상위 지역명을 선택하세요',area_dict,'서울특별시')

print('%html <h5> 🔎 하위 지역 검색결과:</h5>')
for s in sub_area:
    print(s, end =' ')

In [7]:
%spark.pyspark

search_area1 = z.input("상위 지역명을 입력하세요",'서울특별시')
search_area2 = z.input("하위 지역명을 입력하세요",'서초구')
search_area_add = z.input("동명 또는 도서관 이름을 입력하세요",'반포')

result = spark.sql(f"SELECT LBRRY_CD,LBRRY_TY_NM,LBRRY_NM,LBRRY_ADDR FROM tb_lbrry WHERE ONE_AREA_NM = '{search_area1}' and TWO_AREA_NM = '{search_area2}' and LBRRY_NM LIKE '%{search_area_add}%' ")
result.show()

${search_lbr}

## 🔎 도서관 별 대여내역 통계

In [10]:
%spark.sql

SELECT LON_MONTH, CNT FROM tb_stats_loan WHERE LBRRY_NM ='${search_lbrry_nm}' and LON_DAY IS NULL;

In [11]:
%spark.sql
SELECT TO_DATE(CONCAT('2023',LON_MONTH,LON_DAY),'yyyyMMdd') as LON_DATE, CNT FROM tb_stats_loan WHERE LBRRY_NM ='${search_lbrry_nm}' and LON_MONTH IS NOT NULL and LON_DAY IS NOT NULL

In [12]:
%spark.sql
SELECT TO_DATE(CONCAT('2023',LON_MONTH,LON_DAY),'yyyyMMdd') as LON_DATE, CNT FROM tb_stats_loan WHERE LBRRY_NM ='${search_lbrry_nm}' and LON_MONTH = '${search_month}' and LON_DAY IS NOT NULL;

In [13]:
%spark.sql